In [61]:
#|export

# Use the FastAi tabular library for the Titanic dataset
from fastai.tabular.all import *
import pandas as pd

In [62]:
#|export
df = pd.read_csv("../data/raw/train.csv")
print(df.columns)
print(df.size)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
10692

In [63]:
#|export

# Find honorifics of each passenger, and create categorical column
def get_honorific(name: str) -> str:
    first_name = name.strip().split(",")[-1]
    return first_name.strip().split(" ")[0]

In [29]:
df["Name"] = df["Name"].apply(get_honorific)
df.rename(columns={"Name": "Honorific"}, inplace=True)
df.head(n=10)

,PassengerId,Survived,Pclass,Honorific,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Mr.,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Mrs.,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Miss.,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Mrs.,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Mr.,male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,Mr.,male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,Mr.,male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,Master.,male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,Mrs.,female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,Mrs.,female,14.0,1,0,237736,30.0708,NaN,C

In [64]:
# Find cabin types for passengers

def get_cabin_number(cabins: str):
    if pd.isna(cabins):
        return "NC"
    else:
        return cabins.split(" ")[0][0]

In [51]:
df["Cabin"] = df["Cabin"].apply(get_cabin_number)
df.rename(columns={"Cabin": "CabinType"}, inplace=True)

NC
C
NC
C
NC
NC
E
NC
NC
NC
G
C
NC
NC
NC
NC
NC
NC
NC
NC
NC
D
NC
A
NC
NC
NC
C
NC
NC
NC
B
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
D
NC
B
C
NC
NC
NC
NC
NC
B
C
NC
NC
NC
F
NC
NC
NC
NC
NC
NC
NC
NC
F
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
C
NC
NC
NC
E
NC
NC
NC
A
D
NC
NC
NC
NC
D
NC
NC
NC
NC
NC
NC
NC
C
NC
NC
NC
NC
NC
NC
NC
B
NC
NC
NC
NC
E
D
NC
NC
NC
F
NC
NC
NC
NC
NC
NC
NC
D
C
NC
B
NC
NC
NC
NC
NC
NC
NC
NC
F
NC
NC
C
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
E
NC
NC
NC
B
NC
NC
NC
A
NC
NC
C
NC
NC
NC
NC
NC
F
NC
A
NC
NC
NC
NC
NC
NC
NC
F
B
B
NC
NC
NC
NC
NC
NC
NC
NC
NC
G
NC
NC
NC
A
NC
NC
NC
NC
NC
D
NC
NC
D
NC
NC
NC
NC
NC
C
NC
NC
NC
NC
NC
C
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
C
NC
NC
D
NC
NC
G
C
NC
NC
NC
NC
B
NC
NC
NC
NC
E
B
NC
NC
NC
NC
C
C
NC
NC
NC
C
NC
D
NC
NC
NC
NC
NC
NC
NC
NC
A
NC
NC
NC
NC
NC
NC
B
D
NC
NC
NC
NC
C
C
B
NC
NC
NC
E
NC
C
NC
C
NC
E
C
B
NC
NC
NC
NC
NC
NC
C
E
NC
NC
NC
NC
NC
C
NC
D
NC
B
NC
C
C
NC
NC
NC
C
E
NC
T
F
C
NC
NC
NC
F
NC
NC
NC
NC
NC
C
NC
NC
NC
NC
E
NC
NC
NC
NC
NC
NC
NC
NC
NC
D
NC
NC
B
E
NC
NC
NC
NC
NC
NC
C
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
B
NC
NC
D
G
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
C
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
E
C
NC
NC
NC
E
B
NC
NC
C
NC
NC
NC
NC
NC
NC
A
NC
NC
NC
C
NC
NC
C
C
NC
NC
E
D
NC
NC
E
NC
E
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
D
NC
A
NC
NC
NC
NC
NC
NC
NC
NC
B
NC
C
B
NC
NC
NC
NC
C
NC
NC
NC
D
NC
C
NC
NC
NC
NC
NC
B
C
NC
NC
NC
NC
NC
NC
E
NC
NC
D
F
NC
NC
NC
B
NC
NC
B
NC
NC
NC
C
NC
NC
NC
NC
NC
NC
NC
NC
B
NC
NC
B
B
NC
NC
NC
C
NC
NC
NC
NC
NC
C
NC
NC
NC
NC
NC
A
NC
E
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
C
E
NC
NC
NC
NC
E
NC
NC
NC
C
NC
A
NC
E
NC
B
NC
NC
NC
D
NC
NC
NC
NC
NC
NC
NC
A
NC
NC
NC
NC
NC
NC
NC
NC
NC
C
NC
NC
NC
NC
NC
NC
NC
NC
F
NC
NC
D
NC
NC
NC
D
NC
D
NC
NC
A
NC
B
NC
NC
NC
NC
NC
NC
NC
NC
B
NC
NC
NC
D
NC
A
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
D
NC
NC
E
NC
NC
NC
NC
NC
NC
C
NC
B
NC
NC
NC
NC
NC
NC
NC
B
NC
D
NC
NC
NC
NC
NC
NC
NC
B
B
NC
NC
NC
NC
NC
NC
NC
C
F
C
E
NC
NC
NC
NC
NC
E
NC
NC
C
C
C
NC
NC
F
C
E
NC
NC
NC
NC
NC
NC
E
NC
NC
NC
NC
NC
B
NC
NC
NC
NC
NC
NC
B
NC
NC
D
C
B
NC
NC
B
NC
NC
D
NC
NC
E
NC
NC
NC
NC
NC
NC
NC
B
NC
NC
NC
B
NC
D
NC
NC
NC
NC
NC
NC
E
NC
NC
NC
F
NC
NC
B
NC
B
D
NC
NC
NC
NC
NC
NC
B
NC
NC
NC
NC
NC
NC
D
NC
NC
NC
NC
NC
B
NC
NC
NC
A
NC
NC
E
NC
NC
NC
NC
NC
B
NC
NC
NC
NC
B
NC
NC
E
NC
NC
NC
NC
NC
B
NC
NC
NC
NC
NC
E
NC
NC
NC
C
NC
NC
NC
NC
NC
NC
NC
NC
NC
C
NC
NC
NC
D
NC
NC
NC
E
NC
NC
NC
NC
D
NC
NC
NC
NC
A
NC
NC
NC
D
B
NC
NC
NC
NC
NC
NC
C
NC
NC
NC
NC
NC
NC
NC
B
NC
C
NC

In [71]:
def apply_dataframe_transformations(path_to_csv: str):
    df = pd.read_csv(path_to_csv)
    
    # Replace names with honorifics
    df["Name"] = df["Name"].apply(get_honorific)
    df.rename(columns={"Name": "Honorific"}, inplace=True)
    
    # Replace cabin numbers with cabin types
    df["Cabin"] = df["Cabin"].apply(get_cabin_number)
    df.rename(columns={"Cabin": "CabinType"}, inplace=True)
    
    return df

In [72]:
df = apply_dataframe_transformations("../data/raw/train.csv")

In [73]:
categorical_features = ["Pclass", "Sex", "Honorific", "CabinType"]
continuous_features = ["Age", "SibSp", "Parch"]
y_column = "Survived"

In [74]:
data_split = RandomSplitter(valid_pct=0.2, seed=42)(range_of(df))

In [75]:
tabular_obj = TabularPandas(df, procs=[Categorify, FillMissing, Normalize],
                   cat_names=categorical_features,
                   cont_names=continuous_features,
                   y_names=y_column,
                   y_block=CategoryBlock,
                   splits=data_split)

In [55]:
doc(TabularPandas)

In [76]:
tabular_obj.xs.iloc[:5]

     Pclass  Sex  Honorific  CabinType  Age_na       Age     SibSp     Parch
788       3    2          8          8       1 -2.182087  0.461591  2.034995
525       3    2         12          8       1  0.861920 -0.462887 -0.464491
821       3    2         12          8       1 -0.178437 -0.462887 -0.464491
253       3    2         12          8       1  0.052753  0.461591 -0.464491
374       3    1          9          8       1 -2.027960  2.310547  0.785252

In [77]:
dls = tabular_obj.dataloaders(bs=64)
dls.show_batch()

In [78]:
learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(10)

In [85]:
doc(Learner.get_preds)

In [97]:
test_df = apply_dataframe_transformations("../data/raw/test.csv")
passenger_ids = test_df["PassengerId"]

In [98]:
test_dls = learn.dls.test_dl(test_df)

In [99]:
_, idx = torch.max(learn.get_preds(dl=test_dls)[0], dim=1)
idx

tensor([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0,
        1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
        1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
        1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
        1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1,
        1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
        1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
        0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
        0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1,
        0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
        0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [110]:
predicted_results = pd.DataFrame({"PassengerId": passenger_ids, "Survived": idx})
predicted_results.to_csv("submission.csv", index=False)